<?xml version="1.0"?>
<config>
    <modules>
        <Dreamcode_Shippingrule>
            <version>0.1.0</version>
        </Dreamcode_Shippingrule>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Dreamcode_Shippingrule>
                    <files>
                        <default>Dreamcode_Shippingrule.csv</default>
                    </files>
                </Dreamcode_Shippingrule>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Dreamcode_Shippingrule>
                    <files>
                        <default>Dreamcode_Shippingrule.csv</default>
                    </files>
                </Dreamcode_Shippingrule>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <fieldsets>
            <sales_convert_quote_address>
                <dcfee_amount><to_order>*</to_order></dcfee_amount>
                <base_dcfee_amount><to_order>*</to_order></base_dcfee_amount>
            </sales_convert_quote_address>
        </fieldsets>

        <helpers>
            <dcshippingrule>
                <class>Dreamcode_Shippingrule_Helper</class>
            </dcshippingrule>
        </helpers>
        <models>
            <dcshippingrule>
                <class>Dreamcode_Shippingrule_Model</class>
            </dcshippingrule>
        </models>
        <resources>
            <dcshippingrule_setup>
                <setup>
                    <module>Dreamcode_Shippingrule</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dcshippingrule_setup>
            <dcshippingrule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dcshippingrule_write>
            <dcshippingrule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dcshippingrule_read>
        </resources>
        <blocks>
            <dcshippingrule>
                <class>Dreamcode_Shippingrule_Block</class>
            </dcshippingrule>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>dcshippingrule/sales_quote_address_total_fee</class>
                    </fee>
                </totals>
            </quote>
       </sales>

        <events>
            <controller_action_postdispatch_onestepcheckout_index_save>
                <observers>
                    <save_osc_before>
                        <type>singleton</type>
                        <class>Dreamcode_Shippingrule_Model_Observer</class>
                        <method>saveOscBefore</method>
                    </save_osc_before>
                </observers>
            </controller_action_postdispatch_onestepcheckout_index_save>
        </events>

    </global>

    <default>
        <dcshippingrule>
            <allow>0</allow>
            <title>Delivery Shipping Fee</title>
            <fee_same_day>1</fee_same_day>
            <fee_next_day>1</fee_next_day>
            <special_days>a:2:{s:18:"_1509104415849_849";a:3:{s:4:"date";s:10:"12/24/2017";s:3:"fee";s:1:"5";s:4:"note";s:37:"If delivery date is Xmas day then +5$";}s:17:"_1509104417088_88";a:3:{s:4:"date";s:10:"02/14/2017";s:3:"fee";s:2:"10";s:4:"note";s:43:"If delivery date is Valentine day then +10$";}}</special_days>
        </dcshippingrule>
    </default>
</config>