<?xml version="1.0"?>
<config>
    <tabs>
        <dreamcode translate="label">
            <label>Dreamcode Extension</label>
            <sort_order>400</sort_order>
        </dreamcode>
    </tabs>
    <sections>
        <dcshippingrule translate="label" module="dcshippingrule">
            <class>separator-top</class>
            <label>Delivery Shipping Rule</label>
            <tab>dreamcode</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Shipping Rule</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>33</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <allow translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </allow>
                        <title translate="label">
                            <label>Carrier title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <fee_same_day translate="label">
                            <label>Apply fee for same day delivery</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </fee_same_day>
                        <fee_for_same_day translate="label">
                            <label>Fee for same day delivery</label>
                            <frontend_type>text</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><fee_same_day>1</fee_same_day></depends>
                            <comment>Enter fee with the format number, for example: 0.5 </comment>
                        </fee_for_same_day>
                        <fee_next_day translate="label">
                            <label>Apply fee for next day delivery ($10)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </fee_next_day>
                        <fee_for_next_day translate="label">
                            <label>Fee for next day delivery</label>
                            <frontend_type>text</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><fee_next_day>1</fee_next_day></depends>
                            <comment>Enter fee with the format number, for example: 0.5 </comment>
                        </fee_for_next_day>
                        <special_days translate="label">
                            <label>Delivery date is special day:</label>
                            <frontend_model>dcshippingrule/system_config_form_field_questionoptions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Enter date with the format (mm/dd/yyyy), for example: 12/24/2017. Enter fee with the format number, for example: 0.5 </comment>
                        </special_days>
                    </fields>
                </general>
            </groups>
        </dcshippingrule>

        <!-- <carriers>
            <groups>
                <delivery_shipping translate="label">
                    <label>Delivery Shipping Carrier</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Carrier title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <fee_same_day translate="label">
                            <label>Apply fee for same day delivery ($5)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </fee_same_day>
                        <fee_next_day translate="label">
                            <label>Apply fee for next day delivery ($10)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </fee_next_day>
                        <special_days translate="label">
                            <label>Delivery date is special day:</label>
                            <frontend_model>shippingrule/system_config_form_field_questionoptions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter date with the format (mm/dd/yyyy), for example: 12/24/2017. Enter fee with the format number, for example: 0.5 </comment>
                        </special_days>
                    </fields>
                </delivery_shipping>
            </groups>
        </carriers> -->

    </sections>
</config>